- name: STARTING GENERATE KEYS FOR CLIENTS
  debug:
    msg: "CLIENT: {{ inventory_hostname }}"

- name: GENERATE CLIENT KEYS
  become: true
  ansible.builtin.shell:
    cmd: "{{ item }}"
  args:
    chdir: "{{ wireguard_path }}"
  loop:
    - "mkdir -p {{ keys_directory }}"
    - "cd {{ keys_directory }}; wg genkey | tee private.key | wg pubkey | tee public.key"

- name: TAKE CLIENTS KEYS (1)
  become: true
  ansible.builtin.shell:
    cmd: "cat private.key; cat public.key"
  args: 
    chdir: "{{ wireguard_path }}/{{ keys_directory }}"
  register: client_keys

- name: TAKE CLIENTS KEYS (2)
  set_fact:
    "private_{{ inventory_hostname }}_key": "{{ client_keys.stdout_lines[0] }}"
    "public_{{ inventory_hostname }}_key": "{{ client_keys.stdout_lines[1] }}"

- name: SHOW CLIENTS KEYS
  debug:
    msg: |
      CLIENT: {{ inventory_hostname }}

      PRIVATE KEY: 
      {{ lookup('vars','private_' ~ inventory_hostname ~ '_key') }}

      PUBLIC KEY: 
      {{ lookup('vars','public_' ~ inventory_hostname ~ '_key') }}