- name: INSTALL WIREGUARD PACKAGE
  become: true
  ansible.builtin.apt:
    name: wireguard
    state: latest

- import_tasks: server_generate_keys.yml
  when: inventory_hostname in groups.VPN_server
  tags: ['server_keys']

- import_tasks: clients_generate_keys.yml
  when: inventory_hostname in groups.VPN_clients
  tags: ['clients_keys']

- import_tasks: server_configuration.yml
  when: inventory_hostname in groups.VPN_server
  tags: ['server_configuration']

- import_tasks: clients_configuration.yml
  when: inventory_hostname in groups.VPN_clients
  tags: ['clients_configuration']