- name: STARTING CONFIGURATION FOR SERVER
  debug:
    msg:

- name: INSTALL IPTABLES
  become: true
  ansible.builtin.apt:
    name: iptables
    state: latest

- name: TAKE NETWORK INTERFACE
  ansible.builtin.shell:
    cmd: "ip a | grep -Po '(?<=^2: )\\w{3}\\d{1,3}'"
  register: server_interface

- name: ENABLE IP FORWARDING
  become: true
  ansible.builtin.sysctl:
    name: net.ipv4.ip_forward
    value: "1"
    state: present
    reload: yes

- name: COPY SERVER MAIN CONFIGURATON
  become: true
  ansible.builtin.template:
    src: server_configuration.primary
    dest: /etc/wireguard/server.conf
    mode: 0600

- name: START WIREGUARD
  become: true
  ansible.builtin.shell:
    cmd: "wg-quick up server"
  args:
    chdir: /etc/wireguard
